/wp-admin/
/wp-includes/

wp-config.php

*.log
.htaccess

wp-content/uploads/

wp-content/plugins/
/wp-content/themes/twenty*/ 

wp-content/cache/
wp-content/upgrade/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

*.DS_Store
*.idea/
*.vscode/
Thumbs.db